.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-logo-web-first {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-web-first,
.header-logo-web-second {
  display: flex;
  align-items: center;
  gap: 0px;
}
.header-logo-web-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 340px;
  margin-left: 76px;
}
.navigation-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.nav-list-item a {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item a:focus,
.nav-list-item a:hover {
  color: #404bbf;
}

.contact-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contakt-list-item a {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt-list-item a:hover,
.contakt-list-item a:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
.nav-list-item {
  position: relative;
}
